asn1crypto
bcrypt
cffi
colorama
cryptography
enum34
frida-tools
idna
ipaddress
paramiko
prompt-toolkit
pyasn1
pycparser
Pygments
PyNaCl
scp
six
tqdm
wcwidth
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
